
<section class="steps">
    <div class="container steps__wrapper steps__wrapper--space-around">
      <div class="steps__step">
        <div class="steps__icon">
          <i class="icon icon_clock"></i>
        </div>
        <p class="steps__desc">
          Flexible shifts
        </p>
      </div>
  
      <div class="steps__step">
        <div class="steps__icon">
          <i class="icon icon_app"></i>
        </div>
        <p class="steps__desc">
          Convenient mobile <br> app
        </p>
      </div>
  
      <div class="steps__step">
        <div class="steps__icon">
          <i class="icon icon_money"></i>
        </div>
        <p class="steps__desc">
          3 EUR per order LIMITED TIME
        </p>
      </div>
    </div>
</section>